{:aliases
 {:dev {:paths ["dev"]}
  :nextjournal/clerk
  {:extra-deps {io.github.nextjournal/clerk {:git/sha "26e9f0b70177ba4ef4982a0e59b765ed86317a3f"}}
   :extra-paths ["notebooks"]
   :exec-fn nextjournal.clerk/build-static-app!
   :exec-args {:paths ["notebooks/simple_slideshow.clj"]}}}}
