{:aliases
 {:dev {:paths ["dev"]}
  :nextjournal/clerk
  {:extra-deps {io.github.nextjournal/clerk {:git/sha "ef2828d20a9fe039e693487f8d1fce4637109fc2"}}
   :extra-paths ["notebooks"]
   :exec-fn nextjournal.clerk/build-static-app!
   :exec-args {:paths ["notebooks/simple_slideshow.clj"]}}}}
